.App {
}

.App-logo {
  height: 18vmin;
}

.App-header {
  padding: 2rem 0 3rem 0;
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.component {
  background: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}

.component + .component {
  margin-top: 2rem;
}

.component .title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0.8rem 0;
}

.component .section {
  margin: 1rem 0;
}

.component .alert {
  margin: 1rem 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
